:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-error {
  background-color: #f66161;
}

input[type="text"] {
  height: 40px;
  padding: 0 10px;
}

.container-center {
  max-width: 900px;
  padding: 15px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-result {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  padding: 30px 0;
  list-style: none;
}

.search-result h2 {
  display: flex;
  justify-content: space-between;
}

.search-result span {
  padding-left: 10px;
}

.search-result ul {
  padding: 0;
  margin: 0;
}

.search-result li {
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.no-results {
  min-width: 300px;
  padding: 10px;
  background-color: #9ca1fd;
  color: #fff;
  border-radius: 10px;
}

.pagination-result {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.pagination-result__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 150px;
}

.pagination-result__title {
  width: 100%;
}

.pagination-result__item {
  width: 30px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  color: #fff;
  cursor: pointer;
}

.pagination-result__item:hover {
  background: #343dee;
  color: #fff;
}

.pagination-result__item.current {
  background: #9ca1fd;
  color: #fff;
}

.search-page {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 50px;
}

.search-page__right,
.search-page__left {
  width: 50%;
}

.detail-page {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 30px 0 0 20px;
  border-left: 2px solid #fff;
}

.detail-overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
